### 1. Import Packages

In [2]:
import os
import pandas as pd

In [3]:
# Specify the directory containing the CSV files
directory = "../../data/raw/final"

In [4]:
# Initialize an empty list to store DataFrames
dataframes = []

In [6]:
# Iterate through files
for filename in os.listdir(directory):
    # Check to see if files start with 'tr' and is 'csv' file
    if filename.startswith("tr") and filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        # Read the CSV file and append it to the list
        dataframes.append(pd.read_csv(filepath,  delimiter="|"))
# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(dataframes, ignore_index=True)

C:\Users\sovan\AppData\Local\Temp\ipykernel_17524\3043800595.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat(dataframes, ignore_index=True)

In [7]:
merged_df

,cc_num,acct_num,trans_num,unix_time,category,amt,is_fraud,merchant,merch_lat,merch_long
0,4218196001337,888022315787,91ab12e73ef38206e1121e9648d2408d,1558719550,gas_transport,69.12,0,Phillips Group,39.491416,-75.588522
1,4218196001337,888022315787,071553d533a6822a4431c354c434ddcb,1569425519,grocery_pos,68.11,0,Tucker Ltd,40.890319,-75.573359
2,4218196001337,888022315787,0cfad38ef15e4749eff68dc83f62c151,1577205601,misc_net,40.35,0,Dixon PLC,39.244958,-74.475327
3,4218196001337,888022315787,5782693d7c70f062f258cb30bfa8900f,1571428238,grocery_pos,96.22,0,Lambert-Cooper,39.656925,-75.802342
4,4218196001337,888022315787,35fd7db657d7e30dd608c37f7798186e,1549840400,gas_transport,71.89,0,Griffith LLC,40.313342,-74.220434
...,...,...,...,...,...,...,...,...,...,...
4260899,4246163034387,21414345345,7432f399b000172fcc1e8790f6fc965b,1590472417,misc_pos,1.71,0,Moore and Sons,39.947898,-73.705782
4260900,4246163034387,21414345345,7b6dda3778381981a53b9aa5043fff15,1624189162,entertainment,1.85,0,"Orr, Miller and Lester",40.986267,-73.403986
4260901,4246163034387,21414345345,a42a8a1fa3919010412c0302912acf67,1607057141,shopping_pos,5.22,0,Petersen-Davis,40.973092,-74.058395
4260902,4246163034387,21414345345,45f5c90dd51fe578857b2c6fa8e55c64,1621153529,entertainment,7.79,0,"Castillo, Valenzuela and Rodriguez",41.133557,-73.279871
4260903,4246163034387,21414345345,6ba78d99dcb30dbb5f3611eee87af76a,1668858175,personal_care,1.45,0,"Zhang, Webb and Richard",40.930376,-73.042878

In [8]:
output_file = os.path.join("../../data/interim/", "merged_output.csv")
merged_df.to_csv(output_file, index=False)

print(f"All CSV files starting with 'tr' have been merged and saved to {output_file}.")

All CSV files starting with 'tr' have been merged and saved to ../../data/interim/merged_output.csv.